@charset "UTF-8";

@font-face {
    font-family:'android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;

}

header {
    background-image: linear-gradient(to top, #087508, #54e054);
    padding: 10px;
    
}

.titulo-cabecalho {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto;
}

.subtitulo-cabecalho {
    color: white;
    text-align: center;
    font-weight: normal;
    margin: 15px auto;
}

nav > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-right: 5px;
    margin-left: 5px;
}

main {
    background-color: #84e1acd7;
}

.imagem-dandroid, .imagem-irina {
    width: 100%;
}

.imagem-bugdroid {
    margin-left: auto;
    margin-right: auto;
    
}

.principal {
    background-color: white;
    margin: 0px 100px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) ;
}

p {
    text-indent: 20px;
    padding: 2px;
    margin: 2px;
    text-align: justify;
}

.caixa-main {
    padding: auto 5px;
    margin: 0px auto;
    
    
}

.titulo-principal {
    font-family: 'android', Times, serif;
    color: darkgreen;
    margin: 0px 5px;
       
}

.subtitulo-main {
    font-family: 'android', Times, serif;
    font-size: 20px;
    color: darkgreen;
    margin: 5px 0px;
    background-image: linear-gradient(to left, white, rgba(0, 128, 0, 0.192));
}

.extra {
    background-color: rgba(133, 241, 133, 0.767);
    border-radius: 10px;
    margin: 10px;
}

.subtitulo-extra {
    color: white;
    background-color: green;
    font-weight: normal;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

ul {
    margin-left: 30px;
    
}

footer {
    color: white;
    text-align: center;
    margin: auto;
    background-color: darkgreen;
}

footer > p {
    text-align: center;
}